*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9fafd;
  font-size: x-large;
  font-style: italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
  margin: 20px;
}
body{
  text-align: center;
  background-color: #293142;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items:center ;
}
.game{
  width: 60vmin;
  height: 60vmin;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 1.5vmin;


  
}

.box{
  width: 18vmin;
  height: 18vmin;
  background-color: #e4e6ec;
  border-radius: 1rem;
  margin: 3px;
  border: none;
  color: red;
  font-size: 3rem;
  box-shadow: 0 0 25px rgba(10, 10, 10, 0.5);
}

.reset-btn{
  padding: 10px;
  font-size:1rem;
  font-weight: 600;
  width: 20%;
  height: 60px;
 border-radius: 20px;
 border: none;
 margin: 10px;
}

#new-btn{
  padding: 10px;
  font-size:1rem;
  font-weight: 600;
  width: 20%;
  height:60px;
 border-radius: 20px;
 border: none;
 margin: 10px;
}

#msg{
  color: #e4e6ec;
  font-size: 5vmin;
}
.msg-container{
  height: 90vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

.hide{
  display: none;
}

@media  screen and (max-width: 600px) {
  body {
    background-color: rgb(41, 48, 51);
  }
  .container{
    width: 100vw;
    height: 70vh;
  
  }
  .game{
    width: 80vmin;
    height: 60vmin;
 
  
    
  }
  
  .box{
    width: 18vmin;
    height: 18vmin;
  
  }

  .reset-btn{
  font-size: larger;
  }
  
  #new-btn{
   font-size: larger;
  }
  h1{
    margin: 20px;
  }

}